---
virtualmachines:
  - name: "rhel"
    image: "hel-10-1-11-13-25"
    bootloader: efi
    memory: "4G"
    cores: 1
    image_size: "40G"
    tags:
      - key: "AnsibleGroup"
        value: "bastions"
    networks:
      - default
